select.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

div.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

div.submit button {
    width: 48%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.submit .button-submit {
    background-color: #4CAF50;
    color: white;
}

div.submit a button {
    background-color: #f44336;
    color: white;
}

div.submit button:hover {
    opacity: 0.9;
}

div.submit .button-cancel {
    display: inline-block;
    text-align: center;
    width: 48%; /* Giống nút Submit */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f44336; /* Màu nền đỏ */
    color: white;
    text-decoration: none; /* Loại bỏ gạch dưới */
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

p {
    margin: 0;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.text-danger {
    color: red;
}

.form-select {
    width: 100%;
    padding: 10px;

}